body {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  height: 100vh;
  background-image: url("img/desert-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.containerControlerL,
.containerControlerR {
  position: relative;
}
.arrow,
.button {
  position: absolute;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 10;
  cursor: pointer;
}

#arrowTop {
  top: 206px;
  left: 68px;
}

#arrowRaight {
  top: 244px;
  left: 105px;
}

#arrowBottom {
  top: 278px;
  left: 70px;
}

#arrowLeft {
  top: 242px;
  left: 34px;
}

.controlerBotton {
  display: none;
}

#xButton {
  top: 74px;
  left: 55px;
}

#aButton {
  top: 110px;
  left: 92px;
}

#bButton {
  top: 146px;
  left: 57px;
}
#yButton {
  top: 110px;
  left: 21px;
}
#home {
  top: 336px;
  left: 31px;
}

#background {
  display: flex;
}

.containerControlerL ,.containerControlerR {
  display: flex;
}

img {
  height: 485px;
}
#fullscreen {
  display: flex;

  justify-content: center;
  align-items: center;
}
canvas {
  background-color: black;
}

@media (max-width: 1060px) {
  #background{
   position: relative;
  }
  .containerControlerL{
     top: 477px;
     left: 240px;
    position: absolute;
    padding: 10px 0;
  }
  .containerControlerR{
    top: 477px;
    right: 159px;
   position: absolute;
   padding: 10px 0;
  }

}
